*.class
*.jar
target
.idea
uploads

# Maven 

target/

# Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# Other

*.cmd

